.hero {
  background: $white url('../images/hero.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  position: relative;

  &::before {
    background-color: $translucent-light;
    content: '';
    height: 90vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1, h2 {
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
  }

  h1 {
    top: 45%;
  }

  h2 {
    top: 50%;
  }
}
