.hero {
  background: $white url('../images/hero.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  padding-top: 40vh;
  position: relative;

  &::before {
    background-color: $translucent-light;
    content: '';
    height: 90vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1, h2 {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 1;
  }

  h1 {
    margin-bottom: 15px;
  }
}
