$black: #333333;
$blue: #1BB6E9;
$darkblue: #1294bf;
$gray-light: #cccccc;
$translucent-light: rgba(255, 255, 255, .5);
$white: #ffffff;

$patua: 'Patua One', cursive;
$opensans: 'Open Sans', sans-serif;
