@import 'modules/variables';
@import 'modules/reset';
@import 'layout/base';

body, html {
  color: $black;
  font-family: $opensans;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $patua;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 28px;
}

h3, h4, h5, h6 {
  font-size: 24px;
}

p {
  line-height: 20px;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $darkblue;
  }
}
